@charset "UTF-8";

#bzOpeningsContainer h2 {
    color: #FFF;
    font-size: larger;
}

#bzOpeningsContainer li {
    list-style-type: none;
    background: none;
}

#bzOpeningsContainer button { display: none; }
